.Link {
  color: var(--color-primary);
}

.Header {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 4rem;
  margin-top: -2rem;
  text-transform: uppercase;
}

.Btn:disabled {
  background-color: rgba(var(--rgba-primary), 0.3);
}

.Btn:disabled:hover {
  filter: brightness(100%);
  cursor: not-allowed;
}
