.SelectLabel {
  font-size: 1.8rem;
}

.CreateWorkoutSelect,
.ExerciseFocusSelect,
.CreateExerciseSelect {
  width: 30rem;
}

.SetDetailsSelect,
.RoutineSelect,
.RecordWorkoutModalSelect {
  width: 20rem;
}

.GroupStyles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GroupBadge {
  background-color: rgba(var(--rgba-primary), 0.7);
  border-radius: 1rem;
  color: var(--color-white);
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.2;
  min-width: 2rem;
}

@media only screen and (max-width: 330px) {
  .ExerciseFocusSelect {
    width: 28rem;
  }
}
