.Btn {
  width: 15rem;
}

.Link {
  color: var(--color-primary);
}

.AfterResetDisplay {
  margin-bottom: 1.5rem;
}

.AfterResetDisplay p {
  margin-bottom: 1.5rem;
}

.Header {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 3rem;
  margin-top: -2rem;
}
