.CloseWorkoutBtnContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.CloseWorkoutBtn {
  color: rgba(var(--rgba-primary), 0.7);
}

.CloseWorkoutBtn:hover {
  color: rgba(var(--rgba-primary), 0.5);
  cursor: pointer;
}

.CloseWorkoutBtn:active {
  transform: translateY(10%);
}

@media only screen and (max-width: 400px) {
  .CloseWorkoutBtnContainer {
    top: 0.3rem;
    right: 0.3rem;
  }
}
